/Count_vowels.class
/Factorial_number.class
/Fibonacci_sequence.class
/Find_Maximum_no.class
/Palindrome.class
/Prime_check.class
/Reversing_String.class
/Second_largest_number.class
/Sum_of_digits.class
/checkoddeven.class
