/Check_for_subsequence.class
/Leap_year.class
/Palindrome.class
/Remove_Character.class
/Reversing_vowels.class
/Sum_palindrome.class
/Union_of_two_arrays.class
/Check_for_power.class
/Sum_of_element_matrix.class
/Count_characters.class
/Sum_of_prime.class
